@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to product Manager</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>Category lay ra theo ham trong folder API</li>
        @foreach (var item in Model.Categories)
    {
        <li>@item.CategoryName</li>
    }
    </ul>
</div>
