@page
@model Waho.Pages.WarehouseStaff.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImportPrice" class="control-label"></label>
                <input asp-for="Product.ImportPrice" class="form-control" />
                <span asp-validation-for="Product.ImportPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitPrice" class="control-label"></label>
                <input asp-for="Product.UnitPrice" class="form-control" />
                <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitInStock" class="control-label"></label>
                <input asp-for="Product.UnitInStock" class="form-control" />
                <span asp-validation-for="Product.UnitInStock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.HaveDate" /> @Html.DisplayNameFor(model => model.Product.HaveDate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Product.DateOfManufacture" class="control-label"></label>
                <input asp-for="Product.DateOfManufacture" class="form-control" />
                <span asp-validation-for="Product.DateOfManufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Expiry" class="control-label"></label>
                <input asp-for="Product.Expiry" class="form-control" />
                <span asp-validation-for="Product.Expiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Trademark" class="control-label"></label>
                <input asp-for="Product.Trademark" class="form-control" />
                <span asp-validation-for="Product.Trademark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Weight" class="control-label"></label>
                <input asp-for="Product.Weight" class="form-control" />
                <span asp-validation-for="Product.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Location" class="control-label"></label>
                <input asp-for="Product.Location" class="form-control" />
                <span asp-validation-for="Product.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Unit" class="control-label"></label>
                <input asp-for="Product.Unit" class="form-control" />
                <span asp-validation-for="Product.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.InventoryLevelMin" class="control-label"></label>
                <input asp-for="Product.InventoryLevelMin" class="form-control" />
                <span asp-validation-for="Product.InventoryLevelMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.InventoryLevelMax" class="control-label"></label>
                <input asp-for="Product.InventoryLevelMax" class="form-control" />
                <span asp-validation-for="Product.InventoryLevelMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SubCategoryId" class="control-label"></label>
                <select asp-for="Product.SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
                <span asp-validation-for="Product.SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SupplierId" class="control-label"></label>
                <select asp-for="Product.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
